.header_pag22{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    padding: 15px;
    font-size: 18px;
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 100000;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0px 12px 24px -23px rgba(3, 2, 19, 0.25);
}

.header_pag22.scrolled2 {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.div_icone2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.img_icone2{
    width: 35px;
}

.links_header2{
    display: flex;
    flex-direction: row;
    color: gray;
    gap: 19px;
    align-items: center;
}

.img_balança_ide2{
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.p2{
    color: black;
}

.cabecalho2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
}

.pag_inicio2{
    background-color: white;
    color: black;
    justify-items: center;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
}

.desc2{
    color: #6b7280;
}